[submodule "Module7/Component-Based-UI-w-React/Module7/Component-Based-UI-w-React/bacon"]
	path = Module7/Component-Based-UI-w-React/Module7/Component-Based-UI-w-React/bacon
	url = https://github.com/connkat/lecture_notes.git
