<div class="character">
  <h2>Inside partial</h2>
  <h2>Name: <%= character.character %></h2>
  <h2>Race: <%= character.race %></h2>
  <h2>Num Dragonballs: <%= character.num_dragonballs %></h2>
  <h2>Planet: <%= character.planet.planet_name %></h2>
</div>
